<div class="shogun-root" data-shogun-id="654bae33871db900cd076dc0" data-shogun-site-id="7d959be2-accb-4505-a702-0c2ee6512710" data-shogun-section-id="654bae33871db900cd076dc0" data-shogun-section-version-id="654bb54f98458900c6e3fe15" data-shogun-platform-type="shopify" data-shogun-variant-id="654bb54f98458900c6e3fe78" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-10-18-1121/654bb54f98458900c6e3fe78.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:400|Inter:500"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2023-11-08-2837/global-assets-00def006ddfbaaf44501def344451dc2fde1b87c.js" defer></script> <div id="s-470c52e3-c8df-4a80-bc85-d9dff820b681" class="shg-c "> <div id="slider-s-470c52e3-c8df-4a80-bc85-d9dff820b681" class="shg-sld"> <div class="shg-sld-content"> <div class="shg-sld-nav-button shg-sld-left shg-sld-disabled"> <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" style="fill: rgba(113, 113, 113, 1);"> <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/> </svg> </div> <div class="shg-sld-slides"> <div class="shg-sld-item animate__animated shg-sld-active"> <div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-2bb04fc4-68a5-4a59-8a23-8c39c4caab31"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-feb7dc46-2aaa-4fcb-a728-c87e0c8db7b1"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-cbe9204a-10a4-49d4-9a15-e8b38453e86d" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h2> Fairground Light Kits </h2> </div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"></div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-f70667db-61b1-47b9-8388-d1fd56c47d61" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h2> Super Easy, Super Bright </h2> </div> </div> </div> </div> </div> <div id="s-46a3a11f-5bd5-45b6-8bd8-0e7609c95048-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-46a3a11f-5bd5-45b6-8bd8-0e7609c95048" class="shg-btn shg-cse shg-btn-text " href=""> Shop The Collection &gt; </a> </div> </div> </div> </div> </div> </div> </div> <div class="shg-sld-nav-button shg-sld-right shg-sld-disabled"> <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" style="fill: rgba(113, 113, 113, 1);"> <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/> </svg> </div> </div> <div class="shg-sld-dots shg-sld-dots-on-top"> <div class="shg-sld-dot shg-sld-active"></div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgSlider": {
        "id": "#slider-s-470c52e3-c8df-4a80-bc85-d9dff820b681",
        "intervalTime": 5,
        "autoplay": false,
        "pauseOnHover": false,
        "transition": "animate__noAnimation",
        "interval": null
      }
    }
  </script> </div> </div>
{% schema %}
  {
    "name": "Sliding Header",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=654bae33871db900cd076dc0&shop=www.weloveleds.co.uk)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Sliding Header",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
