<div class="shogun-root" data-shogun-id="654b8ddbc3c4f600e7f5964c" data-shogun-site-id="7d959be2-accb-4505-a702-0c2ee6512710" data-shogun-section-id="654b8ddbc3c4f600e7f5964c" data-shogun-section-version-id="654b9f21c3c4f600dffc6c13" data-shogun-platform-type="shopify" data-shogun-variant-id="654b9f21c3c4f600dffc6c9d" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-10-18-1121/654b9f21c3c4f600dffc6c9d.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:800"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2023-11-01-1530/global-assets-58dca387d015727499c45d7148c6644c63ab8475.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-41fc9fc1-3b17-4609-a2d4-ea6f57e95524"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-81a910ec-bfe5-4ffc-bfeb-d0eab2e067f8"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12"> <div id="s-557455f1-8872-4da5-8837-aa2da1cb2f3d-root" class="s-557455f1-8872-4da5-8837-aa2da1cb2f3d shg-align-container"> <div class="shg-c s-557455f1-8872-4da5-8837-aa2da1cb2f3d shogun-image-container shg-align-right" style="opacity: 1;" id="s-557455f1-8872-4da5-8837-aa2da1cb2f3d"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/f6033090-7b64-4a1d-b674-b401ffefe2b8/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-557455f1-8872-4da5-8837-aa2da1cb2f3d" }
    }
  </script> </div> <div class="shg-c-lg-7 shg-c-md-7 shg-c-sm-7 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-d4463b86-6096-4890-809c-b80ae6dddc80"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-89f21583-690b-463e-abd4-aef66241148f" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h3> Get in Touch </h3> </div> </div> <div id="s-a0572226-79bf-4f4e-9055-5c8fe9b1b6f1" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h3> <a href="tel:01132524706" target="_blank"> 0113 25 24 706<br> </a> </h3> </div> </div> <div id="s-8554911a-c7fc-4c53-849b-39a3ea5005af" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h3> <a href="mailto:sales@weloveleds.co.uk" target="_blank"> sales@weloveleds.co.uk<br> </a> </h3> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Logo and Contact Details",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=654b8ddbc3c4f600e7f5964c&shop=www.weloveleds.co.uk)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Logo and Contact Details",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
